@import url("https://fonts.googleapis.com/css?family=Laila");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  background-color: #fffdfa;
  font-family: "Raleway";
}

h1 {
  text-align: center;
  font-family: "Laila";
}

h2 {
  text-align: center;
  font-family: "Laila";
}

p {
  text-align: center;
  font-size: 18px;
}

a {
  font-family: "Raleway";
  color: #0366d6;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.width-constrained {
  width: 768px;
}

.width-constrained > p,
h1,
h2 {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .width-constrained {
    width: 100%;
  }
}

.top-margin {
  height: 20px;
}

@media screen and (max-width: 768px) {
  .top-margin {
    height: 0;
  }
}

.hide-on-mobile {
  display: block;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

.show-on-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .show-on-mobile {
    display: block;
  }
}
