@import url("https://fonts.googleapis.com/css?family=Laila");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  background-color: #fbf0ff;
  /* background-image: linear-gradient(#fffdf7, white); */
  font-family: "Raleway";
}

h1 {
  text-align: center;
  font-family: "Laila";
}

h2 {
  text-align: center;
  font-family: "Laila";
}

p {
  text-align: center;
  font-size: 18px;
}

a {
  font-family: "Raleway";
  color: #0366d6;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
