@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

body {
  background-color: #fdf7e5;
}

h1 {
  text-align: center;
  font-family: "Playfair Display", black-italic;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

form {
  text-align: center;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
